# Copy this file to secrets/app.env for local Docker.
# On EC2 the real file is /secrets/app.env (created by setup-lamp.sh).
DB_HOST=db
DB_PORT=3306
DB_NAME=ICT2212_STUDENT17_DB
DB_USER=student17-sql
DB_PASS=ICT2212
APP_URL=http://localhost:8080
